/* general */
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background-color: #DCDCDC;
    display: grid;
}
.gray_txt{
    color: rgb(42, 42, 42);
}
a{
    text-decoration: none;
    color: #0077C5;
}
form h3{
    font-size: 1.7em;
    font-style: normal;
}
form p{
    font-size: 0.9em;
}
#calls{
    font-size: 0.7em;
}
#disc, #captcha{
    font-style: italic;
    font-size: 0.7em;
    color: gray;
}
/* header */
header{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    margin-right: 20px;
    grid-column: 1;
    grid-row: 1/4;
}
header p{
    text-align: right;
    font-size: 0.7em;
    margin-right: 4px;
}
/* buttons style */
.but{
    color: white;
    background-color: #0077C5;
    align-items: center;
    border-radius: 5px;
    border: solid 1px black;
}
.lock{
    height: 12px;
    width: auto;
    margin-right: 3px;
}
#sign_in{
    height: 35px;
    width: 100px;
}
#create_acc{
    height: 30px;
    width: 150px;
    margin: 0 auto;
}
/* icons */
.icon{
    height: 20px;
    width: auto;
}
#intuit{
    width: 200px;
    height: auto;
}
/* form title*/
#form_header{
    display: flex;
    flex-flow: column;
    margin: 5% auto;
}
#intuit,#icons{
    justify-content: space-between;
}
/* form */
form{
    display: flex;
    flex-flow: column;
    text-align: center;
    border: solid 1px gray;
    border-radius: 2px;
    background-color: white;
    width: 400px;
    margin: 0 auto;
}
fieldset{
    display: flex;
    flex-flow: column;
    border: none;
}
fieldset *{
    margin-top: 4px;
    text-align: left;
    margin-left: 5%;
}
fieldset input{
    margin: 6px auto;
    width: 90%;
    border: solid 1px gray;
    border-radius: 2px;
}